@import "./blocks/header.css";
.container {
  width: 1140px;
  margin: 0 auto;
}
body {
  font-family: "Roboto";
  font-style: normal;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: black;
}

.logo span {
  color: #2196f3;
}

.menu_links {
  display: flex;
  width: 281px;
  justify-content: space-between;
  font-size: 14px;
}

.title {
  color: #ffffff;
}

.overlay {
  background: rgba(47, 48, 58, 0.4);
  padding: 200px 0 200px 0;
}
.promo h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  /* or 136% */
  letter-spacing: 0.06em;
}
.promo {
  background-image: url(./img/Img17.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.follow_the_link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  text-align: center;
  letter-spacing: 0.06em;
  width: 216px;
  height: 50px;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  transition-timing-function: ease-in-out;
  transition-duration: 0.35s;
}

.img {
  width: 270px;
}

.list {
  list-style-type: none;
  color: #212121;
}

.information {
  color: #757575;
}

.type-of-work {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team {
  color: #212121;
}

.name_work {
  color: #757575;
}
.adress {
  color: #ffffff;
}

.footer-list {
  list-style-type: none;
  text-decoration: none;
}

.h5list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  padding: 0;
  margin: auto;
  width: 1170px;
}
.about {
  padding: 90px 0;
}

.work {
  width: 1170px;
  margin: 0 auto;
  animation: FadeInUp 1s;
}
/* .img2 {
  width: 100%;
  object-fit: cover;
  border-style: none;
} */

.type-of-work {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.images {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
  gap: 30px;
}
.information {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}

.members {
  list-style-type: none;
  width: 1170px;
  margin: 0 auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  padding-bottom: 94px;
  perspective: 250px;
  perspective-origin: 500px;
}
.team_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 94px;
  padding-bottom: 50px;
}
.team {
  background-color: #f5f4fa;
  margin-top: 94px;
}
.team-card {
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  border-radius: 0px 0px 4px 4px;
}
.team-card:hover {
  transform: translate3d(5px, 15px, 10px);
}

.member {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.role {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

.logo2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #ffffff;
}

.logo2 span {
  color: #2196f3;
}

.loc a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #ffffff;
  text-decoration: none;
}
.loc2 a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}
hr {
  border: 1px solid #ececec;
  margin: 0;
}
.vector {
  margin: 0 10px 0 0;
}
.images img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.block {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.follow_the_link:hover {
  transform: scale(1.12);
}
.social_media {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 30px;
}

.social_media:hover {
  cursor: pointer;
}

.abbout {
  background: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
}
.social_media {
  list-style-type: none;
}
.header-link a {
  display: flex;
  align-items: center;
}
.social_media a {
  background: #ffffff;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social_media a:hover path {
  fill: #ffffff;
}
.social_media a:hover {
  background: #2196f3;
}
.everyday_clients h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  margin-bottom: 50px;
}
.everyday_clients li {
  list-style-type: none;
}

.everyday_clients ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.everyday_clients a {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
}

.everyday_clients a:hover,
.everyday_clients a:hover path {
  border-color: #2196f3;
  fill: #2196f3;
}
.aboutsm {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.social_media2 a {
  background: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 100%;
}
.social_media2 {
  display: flex;
  justify-content: center;
}

.social_media2 a:hover path {
  fill: #ffffff;
}
.social_media2 a:hover {
  background: #2196f3;
}
.social_media2 {
  list-style-type: none;
}
.footer .container {
  display: flex;
  gap: 70px;
}
