.container {
  width: 1140px;
  margin: 0 auto;
}

.header_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_left {
  display: flex;
  justify-content: space-between;
  width: 519px;
  align-items: center;
}


.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: black;
}

.logo span {
  color: #2196f3;
}

.menu_links {
  display: flex;
  width: 281px;
  justify-content: space-between;
}
.header_link {
  list-style-type: none;
  display: flex;
  width: 281px;
  text-decoration: none;
}

.header-link {
  display: flex;
  gap: 30px;
  align-items: center;
}
.header-link a {
  text-decoration: none;
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.header-link a:hover {
  color: #2196f3;
}
.inf {
  text-decoration: none;
}
.header_link a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.header_link a:hover {
  color: #2196f3;
}

.footer-list {
  list-style-type: none;
  text-decoration: none;
}

.footer {
  background-color: #2f303a;
}

.logo2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #ffffff;
}

.logo2 span {
  color: #2196f3;
}

.loc a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.cards {
  list-style-type: none;
}
.button {
  background: #f5f4fa;
  border: none;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 6px 22px 6px 22px;
}
.button:hover {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 711px;
  margin: auto;
}
button:hover{
  transform: scale(1.14);
}

button {
  margin: 8px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.35s;
}

h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  padding: 20px 24px 6px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: #212121;
}
p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  padding: 0 24px;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;

  color: #757575;
}
.cards {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1170px;
  margin-bottom: 95px;
  padding: 35px 0 0px 0;
  
}
.btns {
  padding-top: 94px;
}
.cards ul {
  padding: 0;
}
.card {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin-bottom: 30px;
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    transform: translate3d(2px,5px,-2px);
}
.footer {
  padding: 60px 0;
}
hr {
  border: 1px solid #ececec;
}

.vector {
  margin: 0 10px 0 0;
}
.block img{
object-fit: cover;
width: 100%;
height: 100%;
}
.loc2 a{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}